* {
    transition: all .1s ease-in;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

li {
    display: inline-block;
    list-style-type: none;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
}


ul:hover li {
    opacity: 0.5;
}

ul li:hover {
    opacity: 1;
}
span{
    opacity: 0.5;
}


body {
    margin: 0;
    border: solid 10px #2B81AC;
    background-color: #3399CC;
    padding: 20px 170px;
    font-family:“Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    color: white;
    min-height:100%;
}

ul {

    height: 550px;
    font-size: 0;
    padding: 0.25%;
    background-color: white;
}


.top{
    font-size:24px;
    font-family:"Lucida Grande";

}
.lis{
    background-color: #3399CC;
    width: 49.5%;
    height:24.5%;
    margin: 0.25%;
}
.par{
    background-color: #33CCCC ;
    width:24.5%;
    height:24.5%;
    margin: 0.25%;

}
.bel{
    background-color: #996699;
    width:24.5%;
    height:24.5%;
    margin: 0.25%;
}
.msk    {
    background-color: #C24747;
    width:24.5%;
    height:24.5%;
    margin: 0.25%;
}
.ta{
    background-color: #e2674a;
    width:24.5%;
    height:24.5%;
    margin: 0.25%;
}
.cair{
    background-color: #ffcc66;
    width:24.5%;
    height:24.5%;
    margin: 0.25%;
}
.ny{
    background-color: #99cc99;
    width:24.5%;
    height:24.5%;
    margin: 0.25%;
}
.nd{
    background-color: #669999;
    width:24.5%;
    height:24.5%;
    margin: 0.25%;
}
.sf{
    background-color: #cc6699;
    width: 49.5%;
    height:24.5%;
    margin: 0.25%;
}
.tok   {
    background-color: #339966;
    width:24.5%;
    height:24.5%;
    margin: 0.25%;
}
.syd{
    background-color: #666699;
    width:99.5%;
    height:22.5%;
    margin: 0.25%;
}
.down{
    font-size:20px;
    font-family: sans-serif;
}